*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0d1117;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

h1{
    font-size:4rem;
    letter-spacing:5px;
}

header p{
    margin:20px;
    font-size:1.3rem;
    color:#b8b8b8;
}

button{
    padding:15px 35px;
    border:none;
    border-radius:50px;
    background:#6C63FF;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
    background:#867cff;
}

section{
    padding:80px 10%;
}

h2{
    text-align:center;
    margin-bottom:40px;
    font-size:2.2rem;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:#161b22;
    border-radius:20px;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#8f8f8f;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

footer{
    text-align:center;
    padding:40px;
    color:#777;
}
